.body {
    -fx-background-color: rgba(236,249,255,1) ;
}

.mano  {
    -fx-cursor: hand;    
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent ;    
}

.titled-pane > *.content  {
    -fx-background-color: rgba(189,218,253,0.9) ;    
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.iconoDisabled {
	-fx-cursor: default;
	-fx-opacity: 0.2;
}

.iconoEnabled {
	-fx-cursor: hand;	
	-fx-opacity: 1.0;
}

.imJerarquia:hover {
    -fx-graphic: url(../imgs/iconos/jerarquia_ON.png);
}


.PanelLateral {
    -fx-background-color: rgba(0,8,45,0) ;
}

.elementosMenu {
    -fx-background-color: rgba(0,8,255,.35) ;
}

.elementoMenu {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.combo-box {
    -fx-background-color: rgba(234,240,255,1);    
    -fx-border-radius: 9;
    -fx-border-color: rgba(4,10,230,1);
    -fx-text-fill:  rgba(128,136,240,1);
}

.text-field{
    -fx-background-color: rgba(234,240,255,1);    
    -fx-border-radius: 9;
    -fx-border-color: rgba(4,10,230,1);
    -fx-font-family: "Quicksand";
    -fx-text-fill:  rgba(128,136,240,1);
}

.table-view .column-header .label{
    -fx-text-fill: rgba(236,236,255,1);
    -fx-background-color: rgba(16,24,135,1) ;
}

.table-row-cell:odd {
    -fx-background-color: rgba(234,240,255,1); 
}

.cortina {
	-fx-fill: rgba(234,240,255,.7);
}

.titled-pane  
{
	-fx-background-color: rgba(14,119,248,1);
	-fx-text-fill:  rgba(255,255,255,1);
	-fx-border-radius: 9;
}

.titled-pane > .title  
{
	-fx-background-color: rgba(134,139,219,1);
	-fx-text-fill:  rgba(255,255,255,1);
}

.iconoPestania {
  -fx-shape: "M 12 2 C 6.47 2 2 6.47 2 12 C 2 17.53 6.47 22 12 22 C 17.53 22 22 17.53 22 12 C 22 6.47 17.53 2 12 2 Z M 17 15.59 L 15.59 17 L 12 13.41 L 8.41 17 L 7 15.59 L 10.59 12 L 7 8.41 L 8.41 7 L 12 10.59 L 15.59 7 L 17 8.41 L 13.41 12 L 17 15.59 Z";
  -fx-width: 10px;
  -fx-height: 10px; }