.body {
    -fx-background-color: rgba(236,249,255,1) ;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent ;    
}

.titled-pane > *.content  {
    -fx-background-color: rgba(245,236,255,0.9) ;    
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.iconoDisabled {
	-fx-cursor: default;
	-fx-opacity: 0.2;
}

.iconoEnabled {
	-fx-cursor: hand;	
	-fx-opacity: 1.0;
}

.imJerarquia:hover {
    -fx-graphic: url(../imgs/iconos/jerarquia_ON.png);
}


.PanelLateral {
    -fx-background-color: rgba(0,8,45,0) ;
}

.elementosMenu {
    -fx-background-color: rgba(0,8,255,.35) ;
}

.elementoMenu {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.combo-box {
    -fx-background-color: rgba(234,240,255,1);    
    -fx-border-radius: 9;
    -fx-border-color: rgba(4,10,230,1);
    -fx-text-fill:  rgba(128,136,240,1);
}

.text-field{
    -fx-background-color: rgba(234,240,255,1);    
    -fx-border-radius: 9;
    -fx-border-color: rgba(4,10,230,1);
    -fx-font-family: "Quicksand";
    -fx-text-fill:  rgba(128,136,240,1);
}

.table-view .column-header .label{
    -fx-text-fill: rgba(236,236,255,1);
    -fx-background-color: rgba(16,24,135,1) ;
}

.table-row-cell:odd {
    -fx-background-color: rgba(234,240,255,1); 
}

.cortina {
	-fx-fill: rgba(234,240,255,.7);
}

.titled-pane  
{
	-fx-background-color: rgba(134,139,219,1);
	-fx-text-fill:  rgba(255,255,255,1);
	-fx-border-radius: 9;
}

.titled-pane > .title  
{
	-fx-background-color: rgba(134,139,219,1);
	-fx-text-fill:  rgba(255,255,255,1);
}