.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.iconoDisabled {
	-fx-cursor: default;
	-fx-opacity: 0.2;
}

.iconoEnabled {
	-fx-cursor: hand;	
	-fx-opacity: 1.0;
}

.imJerarquia:hover {
    -fx-graphic: url(../imgs/iconos/jerarquia_ON.png);
}


.PanelLateral {
    -fx-background-color: rgba(0,8,45,0) ;
}

.elementosMenu {
    -fx-background-color: rgba(0,8,45,.75) ;
}

.elementoMenu {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}